/*------------------------------------------------------------------------------
  Archive Template
------------------------------------------------------------------------------*/

.page.archive
{
    section.hero
    {
        h1.topic-post::before {
            content: 'Critica Topic: ';
            display: inline-block;
            font-weight: bold;
            width: auto;
            height: auto;
            margin: 0 10px 0 0;
            background-color: transparent;
            font-style: normal;
        }
    }

    section.post-filters
    {
        @include theme-section-padding;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: $theme-blue;
        color: $theme-white;
        
        > .row
        {
            max-width: 800px;
            
            > .columns
            {
                padding: 0px 20px;
            }
        }
      
        .dropdown
        {
            position: relative;
            
            > span
            {
                display: block;
                color: $theme-gold;
                border: 1px solid $theme-gold;
                padding: 10px 15px;
                text-transform: uppercase;
                position: relative;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 1px;
                
                &:after
                {
                    display: block;
                    position: absolute;
                    top: 9px;
                    right: 15px;
                    font-size: 38px;
                    content: $fa-var-angle-down;
                    font-family: $FontAwesome;
                }
            }
            
            ul
            {
                display: none;
                background-color: $theme-white;
                list-style-type: none;                
                position: absolute;
                top: 100%;
                left: 0%;
                margin: 0;
                padding: 0;
                width: 100%;
                border: 1px solid $theme-gold;
                z-index: 9999;
                
                > li
                {
                    > a
                    {
                        display: block;
                        padding: 10px 15px;
                        color: $theme-gold;
                        
                        &:hover
                        {
                            background-color: $theme-blue10;
                        }
                    }
                }
            }
            
            &:hover
            {
                ul
                {
                    display: block;
                }
            }
        }
        
        @include breakpoint(small down)
        {
            .columns + .columns
            {
                margin-top: 20px;
            }
        }
    }

    section.archive-grid
    {
        .column
        {
            .row
            {
                padding: 25px;
            }

            &.topic-post .row
            {
                background-color: $theme-navy;
                border-radius: 5px;
                color: $theme-white;

                .counts
                {
                    margin-top: 10px;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 2px;

                    > span
                    {
                        margin-right: 1em;
                    }
                }

                h2::before {
                    content: 'Critica Topic: ';
                    display: inline-block;
                    font-weight: bold;
                    width: auto;
                    height: auto;
                    margin: 0;
                    background-color: transparent;
                    font-style: normal;
                }

                h2, 
                p,
                a:not(.button)
                {
                    color: $theme-white;
                }

                > .columns > p
                {
                    margin-bottom: 0;
                }
            }
        }
    }
}