
/*
*   Styles for the Topic Post template.
*/

.page.single.topic-post
{
    section.featured-image
    {
        height: auto;
        background-position: center;

        &::before
        {
            opacity: .7;
        }

        > .row > .columns
        {
            line-height: 1;
            margin: 2em auto 4em auto;
        }

        h1
        {
            padding: .5em 1em;
            border-bottom: 1px solid $theme-white;
            margin-bottom: .5em;

            &::before
            {
                content: 'Critica Topic: ';
                display: inline-block;
                font-weight: bold;
                width: auto;
                height: auto;
                margin: 0 .25em 0 0;
                background-color: transparent;
                font-style: normal;
            }
        }
    }

    section.flexible-content
    {
        padding-top: 60px;
        padding-bottom: 60px;

        h2
        {
            position: relative;

            &::before
            {
                display: none;
            }
            
            hr
            {
                position: absolute;
                top: 55%;
                left: 0;
                width: 100%;
                height: 1px;
                margin: 0;
                background-color: $theme-blue50;
                border: none;
                z-index: 1;
            }

            span
            {
                position: relative;
                padding: 0 1em;
                background-color: $theme-white;
                font-weight: bold;
                color: $theme-blue50;
                z-index: 2;
            }

        }

        &.dark
        {
            background-color: $theme-navy;

            h2
            {
                hr
                {
                    background-color: $theme-white;
                }

                span
                {
                    background-color: $theme-navy;
                    color: $theme-white;
                }
            }
        }

        p
        {
            max-width: none;
            text-align: justify;
            font-size: .9em;
        }

        .expandable
        {
            
            article
            {
                max-height: 10000px;
                overflow: hidden;
                position: relative;
                transition: max-height 1.5s ease-in;

                &::after
                {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: opacity .5s;
                    background: linear-gradient(
                        to bottom,
                        rgba(255, 255, 255, 0),
                        rgba(255, 255, 255, 0) 67%,
                        rgba(255, 255, 255, 1)
                    );
                }
            }

            &:not(.expanded) article
            {
                max-height: 250px;
                
                &::after
                {
                    opacity: 1;
                }
                
            }

            .continue-reading
            {
                display: inline-block;
                margin-top: .5em;
                font-family: $TimesNewRoman;
                font-weight: bold;
                font-style: italic;
                color: $theme-blue50;
                transition: opacity .2s;

                &:hover
                {
                    opacity: .8;
                }

                &::after
                {
                    content: '▾';
                    display: inline-block;
                    margin-left: .5em;
                }
            }
        }

        .attribution
        {
            text-align: right;
            color: $theme-blue50;

            &::before
            {
                content: '';
                display: inline-block;
                width: 1.5em;
                height: 1px;
                margin-bottom: .25em;
                margin-right: .5em;
                background-color: $theme-blue50;
            }

            .author-name
            {
                font-weight: bold;
                letter-spacing: .25px;
            }

            .author-title
            {
                font-style: italic;
                font-weight: 100;
                letter-spacing: .5px;
                font-size: .95em;
            }
        }

        &.dark .attribution
        {
            color: $theme-white;

            &::before
            {
                background-color: $theme-white;
            }
        }

        &.opinions ul
        {
            max-width: none;
            margin: 0;
            list-style: none;            

            li
            {
                margin-top: 2em;

                article p
                {
                    text-align: left;
                }
            }
        }
    }
}
