/*----------------------------------------------------------------------------
    Comments
----------------------------------------------------------------------------*/

#respond
{
    padding: 20px 20px 60px 20px;
    
    h2
    {
        text-align: left;
        padding: 20px 0px;
    }
    
    input[type=submit]
    {
        @include theme-button-base;
    }
}