/*----------------------------------------------------------------------------
  Banners
----------------------------------------------------------------------------*/

@mixin theme-banner-mask
{
    &:before
    {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $theme-navy;
        opacity: $theme-banner-image-opacity;
        z-index: 1;
    }

    > .row
    {
        position: relative;
        z-index: 2;
    }
}

@mixin theme-hero-banner
{
    @include theme-section-padding;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    height: 700px;
    overflow: hidden;
    background-color: $theme-navy;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    color: $theme-white;    
    
    h1, h2
    {
        margin-bottom: 15px;
        
        &:before
        {
            display: none;
        }
    }
    
    .button
    {
        margin-top: 40px;
    }
    
    > .row
    {
        text-align: center;
        position: relative;
        z-index: 2;
        
        > .columns
        {
            line-height: 600px;
            
            > div
            {
                display: inline-block;
                line-height: 1;
                vertical-align: middle;
            }
        }
    }
    
    @include theme-banner-mask;    
    
    @include breakpoint(small down)
    { 
        height: auto;
        background-size: 100% auto;
        background-position: center top;
        padding: 0px;

        > .row
        {
            padding-top: 250px;
            
            > .columns
            {
                line-height: 1;
                padding: 25px 25px;
            }
        }
    }    
}

@mixin theme-our-services-banner
{
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;

    @include breakpoint(medium down)
    {
        border-top: 1px solid $theme-white;
        text-align: center;
    }

    .columns
    {
        padding: 0 25px;

        &.left
        {
            h1
            {
                font-style: italic;
                line-height: 1;
                font-size: 42px;
                
                &::before
                {
                    display: none;
                }
            }

            p
            {
                text-align: left;
                font-size: 1.25em;
                padding-top: 10px;
                margin-bottom: 0;

                @include breakpoint(medium down)
                {
                    text-align: center;
                    font-size: 1em;
                }
            }
        }

        &.right
        {
            @include breakpoint(large up)
            {
                .vert-center
                {
                    position: absolute;
                    top: 50%;
                    transform: translate3d(0, -50%, 0);
                    padding: 0;
                }
            }

            @include breakpoint(medium down)
            {
                width: 100%;
            }
        }
    }
}

@mixin theme-page-title
{
    @include theme-section-padding;
    padding-bottom: 40px;
    
    text-align: center;
    
    h1
    {
        &:before
        {
            margin-left: auto;
        }
    }
}

@mixin theme-featured-image
{
    @include theme-hero-banner;   
}

@mixin theme-hero-slider-banner
{
    > div.slider
    {
        height: 700px;
        margin: 0;
        
        > div
        {
            height: 100%;
        }

        @include breakpoint(small down)
        { 
            height: auto;
        }
              
    }
    
    .slick-list, .slick-track, .slick-slide
    {
        height: 100%;
    }

    section
    {
        @include theme-section-padding;
        
        position: relative;
        min-height: 400px;
        background-color: $theme-navy;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        color: $theme-white;
  
        @include theme-banner-mask;

        height: 100%;
        line-height: 540px;
        text-align: center;
        z-index: 9999;
        
        @include breakpoint(small down)
        { 
            background-size: 100% auto;
            background-position: center top;
            padding: 0px;
            line-height: 1;
            padding-top: 250px;
        }

        > .row
        {
            text-align: center;
            position: relative;
            z-index: 2;        
            margin: auto;
            display: inline-block;
            line-height: 1;
            vertical-align: middle;
            padding: 0px 20px;

            @include breakpoint(small down)
            { 
                vertical-align: bottom;
                background-color: $theme-navy;
                padding: 40px 30px 60px 30px;
            } 

            > h1
            {
                margin: 0;
                color: $theme-white;
                text-shadow: 0px 0px 10px $theme-black;
                text-align: center;
                padding: 0px 5px;
                
                &:before
                {
                    display: none;
                }
                                 
            }

            p
            {
                font-family: $TimesNewRoman;
                font-size: 30px;
                line-height: 32px;
                font-weight: 400;
                font-style: italic;            
                color: $theme-white;
                text-shadow: 0px 0px 10px $theme-black;
                padding: 0px 5px;
                text-rendering: auto;
                text-align: center;
                margin: auto;

                strong
                {
                    font-weight: 800;
                    color: $theme-white;
                }
                               
            }

            > div
            {
                margin: 20px 0px 0px 0px;
                text-align: center;
                
                > p:last-child
                {
                    font-style: normal;
                    text-align: center;
                    margin-top: 40px;
                }
            }

        } //row
    } //section

    .slick-prev, .slick-next
    {
        display: none;
    }

    ul.slick-dots
    {
        top: auto;
        bottom: 20px;

        > li
        {

            > button
            {
                opacity: 0.9;
                color: $theme-gold;
                
                &:before
                {
                    display: inline-block;
                    font-family: $FontAwesome;
                    content: $fa-var-circle-o;
                    color: $theme-gold;
                    font-weight: 300;
                    width: 24px;
                    height: 24px;
                    font-size: 24px;
                    line-height: 1;
                }
                
            }
        }

        > li.slick-active
        {
            > button
            {     
                opacity: 1;

                &:before
                {
                    content: $fa-var-circle;
                }

            }
        }

    } // ul    
}