/*------------------------------------------------------------------------------
  Global Styles
------------------------------------------------------------------------------*/
/* Set box sizing to elimate math in the padding */
* {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  box-sizing         : border-box;
}

html,
body {
  border      : 0;
  margin      : 0;
  padding     : 0;
  width       : 100%;
  min-height  : 100%;
  min-width: 320px;
}

html,
html a {
  -webkit-font-smoothing : antialiased !important;
  text-shadow            : 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
  font                       : 100%/1.25 arial, helvetica, sans-serif;
  min-height                 : 100%;
  overflow-y                 : scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling : touch;
}

// Hide empty paragraphs
p:empty{
  display: none !important;
}

// Tables
table {
  margin  : 0 0 18px;
}

// Flex Video Based on Zurb Foundation

.flex-video
{
    @include theme-flex-video;      
}


// Add zero based columns to grid
@include breakpoint(small only) {
    .small-0 {
        display: none;
    }
}

@include breakpoint(medium only) {
    .medium-0 {
        display: none;
    }
}

@include breakpoint(large) {
    .large-0 {
        display: none;
    }
}
