/*------------------------------------------------------------------------------
  Typography
------------------------------------------------------------------------------*/

body
{
    font-family: $Proxima;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0em;
    color: $theme-navy80;
}

h1
{
    font-family: $TimesNewRoman;
    font-size: 48px;
    line-height: 56px;
    font-weight: 400;
    color: $theme-blue;
    padding: 0;
    margin: auto;
    @include theme-heading-rule-above;
}

h2
{
    font-family: $TimesNewRoman;
    font-size: 30px;
    line-height: 32px;
    font-weight: 400;
    font-style: italic;
    color: $theme-blue;
    padding: 0;
    margin: auto;
    @include theme-heading-rule-above;
}

h3
{
    font-family: $TimesNewRoman;
    font-size: 36px;
    line-height: 43px;
    font-weight: 400;
    font-style: italic;
    color: $theme-blue;
    padding: 0;
    margin: auto;
}

h4
{
    font-family: $Proxima;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.2em;
    color: $theme-blue50;
    padding: 0;
    margin: auto;
}

h5
{
    font-family: $Proxima;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2em;
    color: $theme-blue;
    padding: 0;
    margin: auto;
}

p
{
    font-family: $Proxima;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0em;
    color: $theme-navy80;
    
    a
    {
        text-decoration: underline;
    }
    
    ul
    {
        li
        {
            padding: 0px 0px 5px 0px;
        }
    }
}

a
{    
    color: $theme-blue;
 
    &:hover
    {
        color: $theme-gold;
    }
}

nav
{
    a
    {
        font-family: $Proxima;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0.2em;
        color: $theme-gold;
        text-decoration: none;
        
        &:hover
        {
            color: $theme-navy;
        }
    }
}

.dark
{
    h1, h2, h3, p, a
    {
        color: $theme-white;
    }
    
    
}

// Small adjustments
@include breakpoint(small down)
{

}